.bottom_wrapper {
	background-color: #fff;
	padding: 10px;
	bottom: 0;
	display: flex;
    position: absolute;
	width: 92%;
}

.bottom_wrapper #msg_input {
	flex-grow: 1;
	outline-width: 0;
	padding: 12px;
	border: 1px solid #bcbdc0;
	border-radius: 50px;
	margin-right: 15px;
    width: 85%;
}

.app_button_1 {
	background-color: #a3d063;
	border-radius: 50px;
	cursor: pointer;
	padding: 12px;
	color: #fff;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
    width: 15%;
}

